<nav class="navbar" [style.width]="navbarWidth">
  <div class="navbar-logo">
    <a href="/"> {{ this.auth.userDataAuth?.displayName }}</a>
    <img
      class="wtf"
      *ngIf="this.auth?.userDataAuth"
      src="{{ this.auth?.userDataAuth?.photoURL }}"
      alt=""
    />
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item">
      <a href="/">Home</a>
    </li>
    <li class="navbar-item">
      <a href="/about">About</a>
    </li>
    <li class="navbar-item">
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <ul class="navbar-auth">
    <li class="navbar-item">
      <button
        mat-flat-button
        color="accent"
        *ngIf="(afAuth.authState | async) === null"
        (click)="auth.loginWithGoogle()"
        color="accent"
      >
        Sign In
      </button>
      <button
        *ngIf="afAuth.authState | async"
        (click)="auth.logout()"
        mat-flat-button
        color="accent"
        color="primary"
      >
        Sign Out
      </button>
    </li>
  </ul>
</nav>
