<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">Hangmeas HDTV</a>
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item">
      <a href="/">Home</a>
    </li>
    <li class="navbar-item">
      <a href="/about">About</a>
    </li>
    <li class="navbar-item">
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <ul class="navbar-auth">
    <li class="navbar-item">
      <button
      mat-flat-button
        color="accent"
        *ngIf="(afAuth.authState | async) === null"
        (click)="auth.loginWithGoogle()"
        color="accent"
      >
        Sign In
      </button>
      <button
        *ngIf="afAuth.authState | async"
        (click)="auth.logout()"
        mat-flat-button
        color="accent"
        color="primary"
      >
        Sign Out
      </button>
    </li>
  </ul>
</nav>
