<nav class="navbar" [style.width]="navbarWidth">
  <div class="navbar-logo">

  </div>
  <ul class="navbar-menu">
    <li class="navbar-item">
      <a href="/">Home</a>
    </li>
    <li class="navbar-item">
      <a href="/about">About</a>
    </li>
    <li class="navbar-item">
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <ul class="navbar-auth">
    <li class="navbar-item">

  <!-- profile -->
  <div
    matTooltip="Profile"
    [matMenuTriggerFor]="userAccountMenu"
  >
      <div class="user-profile">
        <img
          *ngIf="this.auth?.userDataAuth?.photoURL; else emptyImage"
          src="{{ this.auth?.userDataAuth?.photoURL}}"
          class="img-profile"
        />
        <ng-template #emptyImage>
          <img src="{{ photoLib.EMPTY }}" class="img-profile" />
        </ng-template>
      </div>
    <ng-template #loadingTemplate>
      <img src="{{ photoLib.EMPTY }}" class="img-profile loading" />
    </ng-template>
  </div>
  <!-- profile-dropdown -->

  <mat-menu
    #userAccountMenu
    [overlapTrigger]="false"
    yPosition="below"
    class="profile-dropdown"
  >
    <app-button-profile   (click)=" stopPropagation($event)"></app-button-profile>
  </mat-menu>
    </li>
  </ul>
</nav>
