<div class="container">
  <div class="ticker">
    <div class="ticker-logo">
      <div class="ticker-logo-channel">
        <p id="clock">{{ currentTime | date : "h:mm:ssa" }}</p>
      </div>
    </div>

    <div class="ticker-title">
      <span>Rithy TV</span>
      <span>Rithy TV</span>
      <span>Rithy TV</span>
      <span>Rithy TV</span>
      <span>Rithy TV</span>
      <span>Rithy TV</span>
      <span>Rithy TV</span>
      <span>Rithy TV</span>
    </div>
    <div class="ticker-news">
      <p>
        អ្នកអាចមើលទូរទស្សន៍ខ្មែរដែលមានប្រភេទច្រើនប្រសិនបើអ្នកចង់។
        ការចូលទៅកាន់ទីផ្សារទូរទស្សន៍ខ្មែរដែលមានប្រភេទច្រើនគឺអាចជាជម្រើសដែលប្រើប្រាស់បាន។
        ឧទាហរណ៍គឺមានកម្មវិធី RITHY TV
        ដែលអាចផ្តល់នូវទូរទស្សន៍ខ្មែរច្រើនប្រភេទដូចជា Rasmey Hang Meas HDTV,
        MYTV, CTN, CNC, TV3, TV5, CTV9, Apsara TV, BTV News, Bayon TV, SeaTV,
        ETV, PNN និងច្រើនទៀត។
        អ្នកអាចមើលទូរទស្សន៍នេះបានលើគ្រឿងបន្ទាន់សម័យដែលមានប្រព័ន្ធប្រើប្រាស់បានជាច្រើនប្រភេទនៅពេលណាមួយដែលអ្នកចង់។
        សូមអរគុណ។
      </p>
    </div>
  </div>
  <div class="row">
    <!-- <div class="text-center">
      <h1>
        Welcome {{ data.username }} <br />
        <div>Channel: {{ data.SelectedIndex }}, {{ data.ChannelName }}</div>
      </h1>
    </div> -->
    <div class="centre">
      <!-- <div class="tv-frame" *ngIf="!isMobileScreen"> -->

      <div class="tv-frame" >
        <video #videoPlayer controls autoplay class="w-100 video"></video>
      </div>
    </div>
    <div class="img-arrow">
      <p>Control the channel using the arrow keys</p>
      <img src="https://clipart-library.com/img1/1670503.png" alt="" />
      <br />
      <p>Or Remote throught your device</p>
      <img
        src="  assets/mobile.png
      "
        alt=""
      />
    </div>
    <div class="channel">
      <h2>Channels</h2>
      <div class="btn-channel">
        <div
          class="button"
          *ngFor="let channel of store.localChannels; let i = index"
        >
          <a
            matRipple
            [class.active]="activeLocalChannel === i"
            (click)="createCollection(i, channel.name); changeChannel(i, true)"
          >
            {{ i }}. {{ channel.name }}
          </a>
        </div>
      </div>

      <!-- <div class="channel">
      <h2>Global Channels</h2>
      <button
        *ngFor="let channel of store.globalChannels; let i = index"
        mat-raised-button
        color="primary"
        [class.active]="activeGlobalChannel === i"
        (click)="changeChannel(i, false)"
      >
        {{ channel.name }}
      </button>
    </div> -->
    </div>
  </div>
</div>

<div class="remote-control">
  <button
    mat-flat-button
    color="accent"
    *ngIf="(afAuth.authState | async) === null"
    (click)="auth.loginWithGoogle()"
    color="accent"
  >
    Sign In
  </button>
  <button
    *ngIf="afAuth.authState | async"
    (click)="auth.logout()"
    mat-flat-button
    color="accent"
    color="primary"
  >
    Sign Out
  </button>
  <p class="title-remote">THY SMART Remote</p>
  <p class="title-remote">Welcome Back {{ this.auth.userDataAuth?.displayName }}</p>
  <div class="volume-display">Volume: {{ volumeLevel }}</div>
  <div class="number-display">
    Channel: {{ channelIndex || data.SelectedIndex }}
  </div>

  <div class="row">
    <div class="remote-row col">
      <button class="remote-updown up" (click)="increaseVolume()">+</button>
      <button class="remote-updown center">VOL</button>
      <button class="remote-updown down" (click)="decreaseVolume()">-</button>
    </div>
    <div class="remote-row col">
      <button
        class="remote-updown up"
        (click)="changeChannel(this.selectedIndex + 1, true)"
      >
        +
      </button>
      <button class="remote-updown center">CN</button>

      <button
        class="remote-updown down"
        (click)="changeChannel(this.selectedIndex - 1, true)"
      >
        -
      </button>
    </div>
  </div>
  <div class="channel-input">
    <div class="number-buttons">
      <button
        class="num"
        *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
        (click)="updateChannelIndex(num)"
      >
        {{ num }}
      </button>
      <button class="num zero" (click)="updateChannelIndex(0)">0</button>
    </div>
  </div>
</div>
