.container {
  font-family: Arial, sans-serif;
  min-width: 100%;
  color: #fff;
  margin-top: 50px;
}

.channel {
  padding-top: 16px;
  background-color: #fff;
  margin-left: auto;
  // max-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    color: #000;
  }
  .btn-channel {
    padding: 0 10px 10px 10px;
    overflow: hidden auto;
    max-height: calc(100vh - 122px) 
  }
}

.button {
  display: flex;
  flex-direction: column;
  gap: 13px;
  border-radius: 10px;
  width: 100%;
  padding-left: 3px;
}
.button a {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start; /* Updated value */
  flex-shrink: 0;
  padding: 11px 10px;
  background-color: #bbd9e9;
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: 10px;
  width: 90%;
  cursor: pointer;
  font-weight: 500;
  color: #000000;
  margin: 4px 0;
}
.button a:hover {
  opacity: 1;
}

.button a.active {
  background-color: #007bff;
  color: white;
}

.tv-frame {

  min-width: 704px;
  height: 536px;
  background-image: url("/assets/PngItem_1681287.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.video {
  border-radius: 7px;
  position: absolute;
  top: 7px;
  left: 7px;
  object-fit: fill;
  width: 98.2%;
  height: 79.4%;
}

.remote-control {
  display: none;
}

.remote-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.col {
  flex-direction: column;
  border-radius: 50%;
  padding: 0 10px;
  width: 70px;
}

.remote-button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.remote-button:hover {
  background-color: #007bff;
  color: white;
}

.remote-button:active {
  animation: button-click 0.2s linear;
}

.remote-updown {
  padding: 20px;
  border: none;
}

.up {
  border-radius: 50% 50% 0 0;
  font-size: 20px;
}

.center {
  font-weight: 500;
}

.down {
  font-size: 20px;
  border-radius: 0 0 50% 50%;
}

.remote-updown.up:hover,
.remote-updown.down:hover {
  background-color: #f2f2f2; /* Update with your desired hover background color */
}

.remote-updown.up:active,
.remote-updown.down:active {
  animation: button-click 0.2s linear;
  background-color: #f0f0f096;
}

@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}
.centre{
  display: block;
  margin: 50px auto;
}
.num {
  width: 100px;
  height: 50px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.num.zero {
  grid-column: span 3; /* Make the zero button span two columns */
}

.num:active {
  color: white;
  background-color: #007bff;
  animation: button-click 0.2s linear;
}

.volume-display,
.number-display {
  background-color: #f0f0f0;
  color: #000000;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    display: none;
  }

  .title-remote {
    color: #000 !important;
    font-size: 12px;
  }

  .remote-control {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .remote-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
  }

  .title-remote {
    font-size: 16px !important;
  }
}
