::ng-deep .sidebar {
  background-color: #bbd9e9;
  height: 100vh;
}
::ng-deep .text-a {
  color: #fff !important;
}
.sidenav-content {
  height: 100vh;
  background-color: rgb(113 164 190);
}
.logo {
  display: inline-block;
  position: relative;
  width: 90px;
}

.logo img {
  width: 200px;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: rotate(180deg);
}

.button {
  display: flex;
  flex-direction: column;
  gap: 13px;
  scrollbar-width: none;
  border-radius: 10px;
  width: 100%;
  padding-left: 3px;
}

.button a {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: start;
  flex-shrink: 0;
  padding: 11px 10px;
  background-color: #bbd9e9;
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: 10px;
  width: 90%;
  cursor: pointer;
  font-weight: 500;
}

.button a:hover {
  opacity: 1;
}


.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-content {
  flex-grow: 1;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .sidenav-container {
    justify-content: flex-start;
  }

  .sidenav-container > mat-sidenav {
    display: none;
  }

  .sidenav-content > .content > app-navbar {
    display: none;
  }
}