::ng-deep .sidebar {
  background-color: #bbd9e9;
  height: 100vh;
}
::ng-deep .text-a {
  color: #fff !important;
}
.sidenav-content {
  background-color: rgb(113 164 190);
}
.logo {
  display: inline-block;
  position: relative;
  width: 90px;
}

.logo img {
  width: 200px;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: rotate(180deg);
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-content {
  // overflow: hidden;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .sidenav-container {
    justify-content: flex-start;
  }

  .sidenav-container > mat-sidenav {
    display: none;
  }

  .sidenav-content > .content > app-navbar {
    display: none;
  }
}
