<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="!isMobileScreen">
    <div class="logo">
      <img id="logo-image" [src]="logoSrc" (contextmenu)="disableContextMenu($event)" />
    </div>
    <mat-nav-list>
      <app-btn-charthub [items]="items"></app-btn-charthub>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <!-- Your page content here -->
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>