<mat-sidenav-container class="sidebar-container">
  <mat-sidenav class="sidebar" mode="side" [opened]="sidebarOpened">
    <div class="logo">
      <img
        src="https://psc2.cf2.poecdn.net/f472af4950b1b42a5200a38e3c278821142f7233/_next/static/media/poeFullWhite.fc732b75.svg"
        alt=""
      />
    </div>
    <mat-nav-list>
      <div class="button">
        <a matRipple *ngFor="let item of items">
          <mat-icon>add</mat-icon> {{ item }}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>{{
        sidebarOpened ? "chevron_left" : "chevron_right"
      }}</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
