

.wt-5per {
  width: 5%;
}
.wt-10per {
  width: 10%;
}
.wt-15per {
  width: 15%;
}
table {
  border-collapse: collapse;
  width: 1200px;
}

table,
th,
td {
  margin: 0 auto;
  border: 1px solid black;
  font-size: 14px;
}
th,
td {
  padding: 5px;
  font-weight: 600;
}
th {
  font-weight: 600;
  font-size: 15px;
}
.text-top-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.text-top {
  font-size: 14px;
 
  text-align: center;
}
.title {
 
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}
.residentName {
  color: #1a73e8;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error {
  color: red;
  opacity: 0;
  
  min-width: fit-content;
}
.show {
  animation: fadeIn 1s;
  opacity: 1;
}
.option {
  align-items: center;
  overflow: hidden;
  padding: 0 9px;
  user-select: none;
  min-height: 48px;
  
  font-size: 13px;
  cursor: pointer;
  color: #111;
}
.checkmark {
  float: right;
}
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
.mat-icon {
  margin-right: 0 !important;
}
